@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --mb: 375px;
    --desktop: 1440px;
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --GrayishBlue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
    --fs: 15px;
    --fontFamily: Outfit;
    --padding: 20px;
    --borderRaduis: 30px;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Outfit, 'sans-serif';
    font-size: var(--fs);
}

.container {
    height: 100vh;
    background-color: var(--lightGray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: var(--mb);
    background-color: var(--white);
    padding: 18px;
    border-radius: var(--borderRaduis);
}

img {
    width: 100%;
    border-radius: 15px;
}

.title,
p {
    padding: 20px;
    text-align: center;
}

p {
    padding-top: 0;
    color: var(--DarkBlue);
}

@media(max-width: var(--mb)) {
    .container {
        display: block;
        padding: 0;
    }

    .card {
        margin: 0 1rem;
    }
}